{% extends 'base.html' %}
{% load static %}

{% block main %}
<center>
    <h1>Hello, moderator {{ user.email }} )</h1>
    <a href="{% url 'moder_user_update' user.pk %}"><button class="inp">Correct ur profile</button></a>
</center>
{% endblock main %}

{% block moderator_panel %}
<center>
<h2 class="h-moder">Personal moderator panel</h2>
<div class="moder-panel">
    <a href="{% url 'moder_catalog_creational' %}"><button class="inp">Catalog creational</button></a>
    <a href="{% url 'moder_document_creational' %}"><button class="inp">Document creational</button></a>
    <a href="{% url 'register' %}"><button class="inp">Register User</button></a>
    <a href="{% url 'moder_user_list' %}"><button class="inp">User list</button></a>
</div>
</center>
{% endblock moderator_panel %}