{% extends 'base.html' %}
{% load static %}

{% block main %}
<center>
<div class="row">
    {% for document in documents %}
        <div class="col-sm-6">
            <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ document.title }}</h5>
                <p class="card-text">Its a beautiful scientific document</p>
                <a href="{{ document.get_absolute_url }}"><button class="inp">Go to document</button></a>
            </div>
            </div>
        </div>
    {% endfor %}
</div>

<ul class="pagination justify-content-center">
        <li class="page-item"><a href="?page=1" class="page-link">&laquo; first</a></li>
        {% for num in pagination_range %}
        <li class="page-item"><a href="?page={{num}}" class="page-link">{{ num }}</a></li>
        {% endfor %}
        <li class="page-item"><a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">last &raquo;</a></li>
</ul>
{% endblock main %}